<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .container {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .photo {
        flex: 0 1 auto;
        margin-right: 20px;
    }
    .photo img {
        width: 150px;
        height: auto;
        border-radius: 50%;
    }
    .introduction {
        flex: 1;
    }
</style>

</head>

<body>

<div class="container">
    <div class="photo">
        <img src="/assets/photo.png" alt="Zixuan Wang">
    </div>
    <div class="introduction">
        <p>
        I am now pursing master's degree in Computer Science @ Georgia Tech. Previously, I received my master's degree in ECE @ Nanjing University and bachelor's degree in ECE @ Soochow University.
        
        My main interests are full-stack software development and bio-inspired vision (AI/ML).
        </p>
    </div>
</div>

</body>
</html>
